.blog-catagories{

}
.blog-categories ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    background: #333;
}
.blog-categories ul li{
    padding: .5em;
}
.blog-categories ul li:hover{
    background: white;
    color: black;
    cursor: pointer;
}
.blog-categories ul li:active{
    background: white;
}
.blog-categories ul .li.active{
    background: white;
    color: black;
}
.blog-categories ul .li button{
    background: 'none';
    border: 'none';
    cursor: 'pointer';
}
