.cart-items {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 4em auto;
    padding: 2rem;
    font-family: 'Segoe UI', sans-serif;
    color: #2222228c;
    background: url('../../assets/images/cup-coffee-placed-table-some-scattered-coffee-beans-with-sheet-music-background_1_AUIWRs2.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    z-index: 3;
  }
  .cart-items::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #14100cef;
    z-index: -2;
  }
  .cart-items .hero {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 3em;
    background: #b46d03ac;
    position: fixed;
    top: 1em;
    left: 0;
    width: 100%;
    z-index: 200;
    padding: 1.6em;
  }
  .cart-items .hero.top{
    display: none;
  }
  .cart-items .hero span{
    position: absolute;
    top: -.3em;
    left: 48.3em;
    width: 1.4em;
    font-size: .4em;
    color: #fff;
    border-radius: 50%;
    background: #000;
    z-index: -1;
  }
  .cart-items .hero h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    color: #0481ce;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 6;
  }
  .cart-items .content{
    display: flex;
  }
  .cart-items .product-grid {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 9em;
    padding: 2em;
    height: auto;
    width: 60%;
    scrollbar-color: #fff;
    scrollbar-width: .1em;
    background: #ffffff00;
    position: relative;
    border-radius: .5em;
  }
  .cart-items .cart-item {
    border-bottom: 1px solid #eee;
    border-radius: .2em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    gap: .5rem;
    height: 35vh;
    align-items: center;
    transition: transform 0.2s ease;
    color: #fff;
    position: inherit;
    padding: 1em;
  }
  .cart-items .cart-item:hover {
    transform: scale(1.02);
  } 
  .cart-items .cart-item img {
    width: 60vh;
    height: 35vh;
    object-fit: contain;
    margin-left: 0;
  } 
  .cart-items .description {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
    position: relative;
  } 
  .cart-items .description p {
    margin: 0;
    font-size: 1rem;
    color: #ffffff;
  } 
  .cart-items .description p:first-child {
    font-weight: 600;
    color: #efefef;
  }  
  .cart-items h2 {
    text-align: center;
    font-size: 1.75rem;
    margin-top: 2rem;
    color: #ffffff;
  } 
  .cart-items .checkout-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    padding: 2em;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 12em;
    right: 10em;
    color: white;
    background: #724b07;
    border-radius: .5em;
  } 
  .cart-items .checkout-cart button {
    background-color: #0d6efd;
    color: white;
    font-size: 1.1rem;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  } 
  .cart-items .checkout-cart button:hover {
    background-color: #0948a5;
  }
  .cart-items .checkout-cart a {
    text-decoration: none;
    color: inherit;
  }
  .cart-items .controls {
    margin-top: 10px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .cart-items .controls button {
    padding: 4px 10px;
    border: none;
    background-color: #b43333;
    cursor: pointer;
  }
  .controls button:nth-child(1) {
    background-color: #c77312;
  }
  .controls button:nth-child(2) {
    background-color: #30c712;
  }
  
  .cart-items .content .product-grid  .empty{
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 4;
    color: #20537d;
    font-size: 2em;
    gap: .4em;
  }
  .empty span{
    color: #b43333;
  }