.customers{
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 3em;
    z-index: 20;
    color: black;
    background: rgba(255, 255, 255, 0.966);
}
.customers .customers_container{
    display: flex;
    flex-direction: row;
}
.customers .customer_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60vh;
    height: 60vh;
}
.customers .customer_card img{
    width: 40vh;
    height: 40vh;
    object-fit: cover;
    border-radius: 50%;
}