.home-register{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: rgb(207, 187, 148);
    z-index: 200;
}
.home-register .section-title{
    width: 50%;
    height: 100%;
    padding: 1em;
}
.home-register .section-register{
    width: 50%;
    background: rgb(174, 132, 55);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    height: 60vh;
}
.section-register form{
   
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.section-register form input{
    border: 1.5px solid #000;
    width: 20em;
    padding: 0.75rem;
    margin: 0rem;
    color: whitesmoke;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    border: none;
    background: transparent;
}
.section-register form button {
    width: 20em;
    padding: 0.75rem;
    background-color: #4ba1b7;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .section-register form button:hover {
    background-color: #3a5199;
  }
.section-title h1{
    display: block;
}
.section-title h1 span{
    color: blue;
}
.section-title img{
    width: 40vh;
    height: 40vh;
}